# {{ ansible_managed }}

{% set local = conn.left.address if conn.left is defined and conn.left.address is defined else strongswan_conn_default.left.address %}
{% set remote = conn.right.address if conn.right is defined and conn.right.address is defined else strongswan_conn_default.right.address %}
# local remote : type secret
{% for entry in conn.credentials %}
{{ local }} {{ remote }} : {{ entry.type }} "{{ entry.secret }}"
{% endfor %}