# {{ ansible_managed }}

{% set authby = item.0.conn.authby if item.0.conn.authby is defined else strongswan_conn_default.authby %}
{% set local = item.0.left.address if item.0.left is defined and item.0.left.address is defined else strongswan_conn_default.left.address %}
{% set remote = item.0.right.address if item.0.right is defined and item.0.right.address is defined else strongswan_conn_default.right.address %}
# local remote : type secret
{% if authby == 'psk' or authby == 'secret' %}
{{ local }} {{ remote }} : PSK "{{ item.0.secret }}"
{% endif %}
