# {{ ansible_managed }}
{% set authby = item.0.conn.authby if item.0.conn.authby is defined else strongswan_conn_default.authby %}
{% if authby == 'psk' or authby == 'secret' %}
: PSK "{{ item.0.secret }}"
{% endif %}
